				@font-face {
					font-family: 'gotham';
					src: url('/tricot-2/wp-content/uploads/useanyfont/5412Gotham.woff2') format('woff2'),
						url('/tricot-2/wp-content/uploads/useanyfont/5412Gotham.woff') format('woff');
				}

				.gotham{font-family: 'gotham' !important;}

				.et_gf_gotham{background:none !important;font-family:gotham;text-indent:0 !important;font-size:25px;}

		