				@font-face {
					font-family: 'gotham';
					src: url('/tricot-2/wp-content/uploads/useanyfont/5412Gotham.woff2') format('woff2'),
						url('/tricot-2/wp-content/uploads/useanyfont/5412Gotham.woff') format('woff');
					font-display: auto;
				}

				.gotham{font-family: 'gotham' !important;}

		